.product_list_container{
    padding: 1vw 2vw;
    display: flex;
}

.product_left_sidebar{
    flex-basis: 20%;
    background-color: rgba(247, 247, 247, 0.842);
    padding: 1vw 1.5vw;
}

.product_left_sidebar h3{
    margin-bottom: 1vw;
    font-size: 14px;
    color: #6d6d6d;
}

.scroll_filter div{
    display: flex;
    align-items: center;
    margin-bottom: 0.7vw;
}
.scroll_filter label{
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
}
.price_range{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}
.price_range span{
    font-weight: 700;
    margin-left: 10px;
    font-size: 10px;
}

.range-slider{height: 2px;}
.range-slider .range-slider__thumb{width: 8px;  height: 8px; background-color: rgb(123, 21, 163);}






.right_sidebar_container{
    flex-basis: 79%;
}

.product_right_sidebar{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 0vw 1vw;
}

.right_sidebar_sort{
    padding: 0.8vw 2vw;
    box-shadow: 1px 7px 10px 1px rgb(233, 232, 232);
    display: flex;
    align-items: center;
}
.sort_dropdown{
    border: 1px solid rgb(88, 88, 88);
    padding: 2px 8px;
    font-size: 12px;
    cursor: pointer;
    margin-left: 0.5vw;
    border-radius: 3px;
}


.pagination{
    display: flex;
    justify-content: center;
    padding: 2vw 0;
}

.Mui-selected.MuiPaginationItem-page{background-color: #7b17c2;}