.product_detail_container{
    display: flex;
    padding: 3vw 4vw;
    gap: 2vw;
}
.product_info_detail h1{
    font-size: 25px;
    width: 90%;
    margin-bottom: 10px;
}

.product_image_sidebar{
    flex-basis: 25%;
}

.product_info_detail{
    padding: 1vw;
    flex-basis: 65%;

}

.productImageFrame{
    width: 100%;
    height: 22vw;
    background-color: gold;
    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.image_options_container{
    display: flex;
    gap: 0.4vw;
    padding: 1vw 0;
}

.image_option{
    width: 25%;
    height: 5vw;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.active_image{
    border: 3px solid black;
}
.product_detail-price_container{
    & h5{
        margin: 10px 0;
        color: rgb(115, 115, 115);
    }
    & h3{
        margin-top: 7px;
        color: rgb(214, 19, 19);
    }
    & span{
        text-decoration: line-through;
    }
}

.discription{
    margin: 10px 0;
    & .stock{
        background-color: rgb(206, 255, 206);
        width: fit-content;
        padding: 4px 10px;
        border-radius: 20px;
        text-transform: uppercase;
        font-size: 11px;
        color: rgb(0, 161, 0);
        margin-bottom: 20px;
    }
    & p{
        width: 70%;
        color: #6f6f71;
        margin-bottom: 20px;
        font-size: 13px;
    }
    & h4{
        margin-bottom: 10px;
    }
}
.sizes button{
    outline: none;
    padding: 5px 8px;
    cursor: pointer;
    font-size: 10px;
    margin: 0 4px;
    background-color: #fff;
    border: 1px solid rgb(125, 125, 125);
    border-radius: 4px;
}
.sizes button:hover{
    background-color: #e4e4e4;

}
.activeSize{
    background-color: #6f16c2 !important;
    color: white;
}

.quantity-container{
    display: flex;
    gap: 1.5vw;
    align-items: center;
}

.quantity{
    display: flex;
    align-items: center;
    margin: 1vw 0;
    & button{
        padding: 5px 9px;
        border-radius: 50%;
        border: none;
        font-size: 1vw;
        background-color: #f4f4f4;
        cursor: pointer;
    }
    & p{
        margin: 0 13px;
        font-weight: 700;
        font-size: 1.2vw;
    }
}
.product_detail_cart{
    padding: 0.6vw 2vw;
    background-color: #8420cc;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 0.9vw;
    cursor: pointer;
    transition: all 0.1s linear;
}
.product_detail_cart:hover{
    background-color: black;
    color: white;
}

.more_detail_review{
    width: 100%;
    padding: 0 4%;
    margin-bottom: 5vw;
}


.info-review_buttons{
    & button{
        padding: 10px 30px;
        font-size: 12px;
        font-weight: 600;
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-right: 20px;
    }
} 
.col-purple{
    color: #8420cc;
}

.detail_box{
    padding: 30px;
    border-radius: 10px;
    margin: 1vw 0;
    width: 80%;
    box-shadow: 2px -1px 10px 2px rgb(226, 226, 226);
    & table{
        width: 100%;
    }
}

.header_table{
    background-color: rgb(235, 235, 234);
    text-align-last: left;
    & th{
        padding: 10px 8px;
        font-size: 12px;
    }
    
}


tbody th{
    padding: 8px 0;
    font-size: 12px;
}

.reviw_box{
    display: flex;
    gap: 15px;
    margin: 10px 0;
}
.review_list{
    width: 50%;
    overflow-y: scroll;
    max-height: 30vw;
}
.review_list::-webkit-scrollbar{
    display: none;
}
.review_add{
    width: 50%;
    & textarea{
        padding: 1vw;
        font-size: 1vw;
        width: 100%;
        outline: none;
        border: none;
    box-shadow: 2px -1px 10px 2px rgb(226, 226, 226);
        margin: 1vw 0;
        border: 1px solid rgb(164, 162, 162);
    }
    & button{
        float: right;
        padding: 8px 20px;
        background-color: #8420cc;
        border: none;
        color: white;
        font-size: 12px;
        cursor: pointer;

    }
}

.review_person{
    display: flex;
    align-items: center;
    margin: 5px 0;
    gap: 1vw;
    & p{
        width: 75%;
        font-size: 12px;
        margin-top: 8px;
        color: #848484;
    }
}
.review_profile{
    background-color: rgb(20, 216, 105);
    width: 3vw;
    height: 3vw;
    border-radius: 50%;

}

.review-rating{
    float: right;
}